.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border: 1px solid black;
    border-top: 20px solid red;
    cursor: pointer;
    padding: 0;
    box-shadow: 2px 2px 5px #bbb;

}

.card:hover {
    background-color: lightgoldenrodyellow;
    transform: scale(1.1);
}

.card img {
    padding: 20px;
}

.card-name {
    border-top: 2px solid black;
    width: 100%;
    padding: 5px;
}

.card.animate {
    animation: drop-in 300ms;
}

@keyframes drop-in {
    0% {
      transform: translateY(-10%);
      opacity: 0.3;
    }
  
    100% {
      transform: translateY(0%);
      opacity: 1;
    }
}