.gameboard {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    place-items: center;
    gap: 40px;
    margin-top: 40px;
}

.game-over-dialog,
.next-level-dialog,
.win-dialog {
    position: fixed;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -30%);
    padding: 60px 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    display: none;
}

.game-over-dialog[open],
.next-level-dialog[open],
.win-dialog[open] {
    display: flex;
}

::backdrop {
    background-color: black;
    opacity: 0.6;
}

.dialog-btns {
    display: flex;
    gap: 30px;
}

.dialog-btns button,
.restart-btn {
    background-color: white;
    padding: 5px 20px;
    cursor: pointer;
}

.dialog-btns button:hover,
.restart-btn:hover {
    background-color: black;
    color: white;
}

.restart-btn {
    margin-top: 50px;
}

.level {
    margin-top: 20px;
    font-size: 24px;
    font-weight: 500;
    border: 3px solid black;
    padding: 0 20px;
    box-shadow: 2px 2px 5px #bbb;
}